scipy>=1.4.1
Flask>=1.1.2
numpy>=1.17.4
matplotlib>=3.1.2
#torch>=1.7.1+cu110
pandas>=1.2.1
requests>=2.22.0
thop>=0.0.31.post2005241907
#torchvision>=0.8.2+cu110
opencv_contrib_python>=4.2.0.34
tqdm>=4.56.0
seaborn>=0.11.1
albumentations>=1.1.0
onnxruntime>=1.9.0
pafy>=0.5.5
Pillow>=8.3.2
protobuf>=3.18.1
PyYAML>=5.4.1
train>=0.0.5
qqq